*{
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}
    .bg-dark{
        background-image: url(/images/yellow&green.png);
        background-position: center;
        background-repeat:no-repeat;
        background-size:cover;
    }
.page-header{
    position: relative;
     text-align: center;
    }
.neonText{
      animation: flicker 1.5s infinite alternate;
      color: rgb(255, 255, 255);
}
      /* Flickering animation */
@keyframes flicker{
      0%, 18%, 22%, 25%, 53%, 57%, 100%{
    
      text-shadow:
          0 0 4px rgb(255, 255, 255),
          0 0 11px rgb(27, 6, 249),
          0 0 19px rgb(25, 0, 255),
          0 0 40px rgb(255, 0, 0),
          0 0 80px rgb(255, 0, 0),
          0 0 90px rgb(255, 0, 0),
          0 0 100px rgb(255, 0, 0),
          0 0 150px rgb(2, 1, 1);
    }
    20%, 24%, 55% {        
      text-shadow: none;
}    
}
.page-header h1{
      font-size: 9vh;
}
    #section1 {padding-top:50px;height:500px;color: #fff; background-color: white;
      color: #72a1ff;
    opacity: 0.9;}
    #section2 {padding-top:50px;height:500px;color: #fff; background-color:grey;
      color: #79befa;
    opacity: 0.9;}
    #section3 {padding-top:50px;height:500px;color: #fff; background-color: white;
      color: #72a1ff;
    opacity: 0.9;}


    @media (max-width: 600px) {
        .row {
          display:contents}
        }

        .container {
            padding: 80px 120px;
          }
          .person {
            border: 8px solid transparent;
            margin-bottom: 25px;
            width: 90%;
            height: 100%;
            opacity: 0.9;
          }
          .person:hover {
            border-color: #f1f1f1;
          }
        .text-center{
            text-align: center;
        }
        .row{
            text-align: center;
            font-family:  'Libre Baskerville', serif;
            font-size: 4vh;
            overflow: hidden;
        }
        .image1{
            align-items: center;
        }
        .list{ 
          list-style-type: none;
      }
      .bg-dark1{
              background-image: url(/images/service.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              color: #79befa;
              opacity: 0.9;
              
      }
      .text-center{
        font-size: 9vh;
        color: #000000;
        text-shadow: 1px 1px white;
      }




      .col-4 h1{
              font-size: 2vh;
              color: #040505;
              
      }
      .col-4 ul li{
              list-style-type: none;
              display: inline-block;
              font-size: x-small;
              color: #72a1ff;
      }